<div class="home">
  <h1>BakedList</h1>
  <h2>
    <%= link_to "SIGN IN", "/signin", class: "home-links" %> •
    <%= link_to "SIGN UP", "/users/new", class: "home-links" %>
  </h2>
  <p>
    Track every sweet you eat.
  </p>

  <!-- ribbon -->
  <div id="ribbon">

    <marquee id="marquee" direction="left" scrollamount="10" behavior="scroll">
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
    </marquee>
  </div>

</div>
