<div class="home">
  <h1>BakedList</h1>
  <p>
    Track every sweet you meet.
  </p>

  <!-- ribbon -->
  <div>
    <ul id="ribbon">
      <li class="ribbon"></li>
      <li class="ribbon"></li>
      <li class="ribbon"></li>
      <li class="ribbon"></li>
      <li class="ribbon"></li>
    </ul>
  </div>
</div>
