<%= render :partial => 'layouts/welcome' %>

<div class="home">
  <h1>BakedList</h1>
  <p>
    Track every sweet you eat.
  </p>

  <!-- ribbon -->
  <div id="ribbon">

    <marquee id="marquee" direction="left" scrollamount="10" behavior="scroll">
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
      <img src="https://www.hamptoncreek.com/img/p-just-cookies/panel-cookie-choc-cookie.png"></img>
    </marquee>
  </div>

</div>
