<%= render :partial => 'layouts/sweets' %>

<div id="recipes">
  <h1>
    *Top Rated Recipes*
  </h1>
  <div>
    Source: Food2Fork
  </div>
  <!-- recipe title, image_url, source_url -->
  <% @res['recipes'].each do |recipe| %>
  <ul id="recipes">
    <a href="<%="#{recipe['source_url']}"%>" target="_blank">
      <li class="recipes">
        <%= recipe['title'] %><br>
        <%= image_tag("#{recipe['image_url']}", size: "120x120") %>
      </li>
    </a>
  </ul>
  <% end %>
</div>
