/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  font-family: 'Puritan', sans-serif;
  background-color: bisque;
  height: 100%;
}

body {
  height: 100%; /* reconsider sizing*/
  width: 100%;
  margin: 0;

}

.body-container {
  text-align: center;
  overflow: scroll;
  padding: 0px;
  height: 80%;
  width: inherit;
}

.notice {
  margin: 10px 0px 10px 0px;
  text-align: center;
  font-size: 18px;
  padding: 5px 0px 5px 0px;
  border: solid 4px #26722D;
  background-color: #A4E7A0;
}

.errors {
  margin: 10px 0px 10px 0px;
  text-align: center;
  font-size: 18px;
  padding: 5px 0px 5px 0px;
  border: solid 4px grey;
  background-color: darkgrey;
}

button {
  background: #a6a6a6;
  background-image: -webkit-linear-gradient(top, #a6a6a6, #242729);
  background-image: -moz-linear-gradient(top, #a6a6a6, #242729);
  background-image: -ms-linear-gradient(top, #a6a6a6, #242729);
  background-image: -o-linear-gradient(top, #a6a6a6, #242729);
  background-image: linear-gradient(to bottom, #a6a6a6, #242729);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Georgia;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #ab9aab;
  background-image: -webkit-linear-gradient(top, #ab9aab, #2a2e30);
  background-image: -moz-linear-gradient(top, #ab9aab, #2a2e30);
  background-image: -ms-linear-gradient(top, #ab9aab, #2a2e30);
  background-image: -o-linear-gradient(top, #ab9aab, #2a2e30);
  background-image: linear-gradient(to bottom, #ab9aab, #2a2e30);
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: black;

}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: orange;
}

table {
  padding-top: 30px;
}

/*~~~~~~~~*/
/* navbar */
/*~~~~~~~~*/
.navbar {
  background-color: firebrick;
  color: darkgrey;
  height: 100px;
  margin: 0;
  font-size: 20px;
}

.nav-left{
  float: left;
}

.nav-right {
  list-style: none;
  float: right;
}

li {
  list-style-type: none;
}

footer {
  background-color: firebrick;
  height: 50px;
  margin: 0;
  font-size: 18px;
  color: darkgrey;
  vertical-align: middle;
}


/*~~~~~~~~~~~*/
/* home page */
/*~~~~~~~~~~~*/
.home {
  text-align: center;
  margin: 0;
}

.home h1 {
  font-size: 80px;
}

.home p {
  font-size: 40px;
}

.home div {
  display: inline-table;
  margin: 0;
  height: 60px;
  width: 100%;
  background-color: orange;
}

#ribbon {
  height: 110px;
  width: 100%;
}

#ribbon img {
  margin-top: 10px;
  padding: 0px 10px 0px 10px;
  height: 80px;
  width: 80px;
}

#marquee {
  padding: 15px;
}


/*~~~~~~~*/
/* forms */
/*~~~~~~~*/
form {
  text-align: center;
  margin: 0;
}

form table {
  display: inline-table;
  text-align: center;
  font-size: 20px;
}

form td {
  padding-bottom: 10px;
}

form td.column1 {
  text-align: right;
  padding-right: 7px;
}

form td.input {
  width: 250px;
}

form input {
  width: 230px;
  height: 30px;
}

a#delete-sweet-link {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}


/*~~~~~~~~~~~~~~~~*/
/* user show page */
/*~~~~~~~~~~~~~~~~*/
a#new-sweet-link {
  font-size: 50px;
  margin: 0;
  text-decoration: none;
  text-shadow: -2px 2px 3px darkgrey;
}

#user-info-right {
  text-align: right;
  margin-right: 10px;
}

#user-info-right img {
  border-radius: 50%;
  border: 2px inset;
}

/* sweets table */
table#sweets-container {
  display: inline-table;
  text-align: center;
  margin: 30px 0px 0px 0px;
  font-size: 20px;
  width: 33%;
  background-color: #FFB500;
  padding: 10px;
  border: 2px outset;
  background-image: -webkit-linear-gradient(top, #FFB500, #FF9503);
  background-image: -moz-linear-gradient(top, #FFB500, #FF9503);
  background-image: -ms-linear-gradient(top, #FFB500, #FF9503);
  background-image: -o-linear-gradient(top, #FFB500, #FF9503);
  background-image: linear-gradient(to bottom, #FFB500, #FF9503);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
}

table td {
  vertical-align: top;
  padding-top: 2px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* recipes show (sweets index) */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
ul#recipes {
  width: 100%;
  text-align: center;
  display: inline-block;
}

li.recipes {
  width: 30%;
}
