/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*~~~~~~~~~~*/
/* defaults */
/*~~~~~~~~~~*/
html {
  font-family: 'Puritan', sans-serif;
  background-color: bisque;
  height: 100%;
}

body {
  height: 100%; /* reconsider sizing */
  width: 100%;
  margin: 0;
}

.body-container {
  text-align: center;
  overflow-y: scroll;
  padding: 0px;
  height: 80%;
  width: inherit;
}

.notice {
  margin: 10px 0px 10px 0px;
  text-align: center;
  font-size: 18px;
  padding: 5px 0px 5px 0px;
  border: solid 4px #26722D;
  background-color: #A4E7A0;
}

.errors {
  margin: 10px 0px 10px 0px;
  text-align: center;
  font-size: 18px;
  padding: 5px 0px 5px 0px;
  border: solid 4px grey;
  background-color: darkgrey;
}

table {
  padding-top: 30px;
}

/* all buttons */
button {
  background: #a6a6a6;
  background-image: -webkit-linear-gradient(top, #a6a6a6, #242729);
  background-image: -moz-linear-gradient(top, #a6a6a6, #242729);
  background-image: -ms-linear-gradient(top, #a6a6a6, #242729);
  background-image: -o-linear-gradient(top, #a6a6a6, #242729);
  background-image: linear-gradient(to bottom, #a6a6a6, #242729);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Georgia;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #ab9aab;
  background-image: -webkit-linear-gradient(top, #ab9aab, #2a2e30);
  background-image: -moz-linear-gradient(top, #ab9aab, #2a2e30);
  background-image: -ms-linear-gradient(top, #ab9aab, #2a2e30);
  background-image: -o-linear-gradient(top, #ab9aab, #2a2e30);
  background-image: linear-gradient(to bottom, #ab9aab, #2a2e30);
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* all links */
a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: red;
}

a:active {
  color: orange;
}



/*~~~~~~~~*/
/* navbar */
/*~~~~~~~~*/
.navbar {
  background-image: -webkit-linear-gradient(top, firebrick, maroon);
  background-image: -moz-linear-gradient(top, firebrick, maroon));
  background-image: -ms-linear-gradient(top, firebrick, maroon));
  background-image: -o-linear-gradient(top, firebrick, maroon));
  background-image: linear-gradient(to bottom, firebrick, maroon));
  color: darkgrey;
  height: 100px;
  margin: 0;
  font-size: 20px;
}

.nav-left{
  float: left;
}

footer {
  background-image: -webkit-linear-gradient(top, maroon, firebrick);
  background-image: -moz-linear-gradient(top, maroon, firebrick));
  background-image: -ms-linear-gradient(top, maroon, firebrick));
  background-image: -o-linear-gradient(top, maroon, firebrick));
  background-image: linear-gradient(to bottom, maroon, firebrick));
  height: 40px;
  margin: 0;
  font-size: 18px;
  color: darkgrey;
  text-align: right;
  padding: 15px 20px 0px 0px;
}



/*~~~~~~~~~~~*/
/* home page */
/*~~~~~~~~~~~*/
.home {
  text-align: center;
  margin: 0;
}

.home h1 {
  font-size: 80px;
  margin-bottom: 0;
}

.home h2 {
  margin-top: 0;
}

.home a {
  text-decoration: none;
}

.home p {
  font-size: 40px;
}

.home div {
  display: inline-table;
  margin: 0;
  height: 60px;
  width: 100%;
  background-color: orange;
}

a.home-links {
  color: sienna;
}

a.home-links:hover {
  color: black;
}

#ribbon {
  height: 110px;
  width: 100%;
}

#ribbon img {
  margin-top: 10px;
  padding: 0px 10px 0px 10px;
  height: 80px;
  width: 80px;
}

#marquee {
  padding: 15px;
}



/*~~~~~~~*/
/* forms */
/*~~~~~~~*/
form {
  text-align: center;
  margin: 0;
}

form table {
  display: inline-table;
  text-align: center;
  font-size: 20px;
}

form td {
  padding-bottom: 10px;
}

form td.column1 {
  text-align: right;
  padding-right: 7px;
}

form td.input {
  width: 250px;
}

form input {
  width: 230px;
  height: 30px;
}

a#delete-sweet-link {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}



/*~~~~~~~~~~~~~~~~*/
/* user show page */
/*~~~~~~~~~~~~~~~~*/
#user-show {
  width: 100%;
}

/* left container */
#user-show-left {
  float: left;
  width: 20%;
  position: absolute;
}

#user-info-left {
  float: left;
  background-color: firebrick;
  width: 200px;
  border-radius: 15px;
  padding: 20px 10px 10px 15px;
  margin: 30px 0px 0px -20px;
  color: lightgrey;
}

#user-info-left img {
  border-radius: 50%;
  border: 2px inset;
}

#signout-link {
  color: orange;
  text-decoration: none;
}

#signout-link:hover {
  color: lightgrey;
}

/* right container */
#user-show-right {
  float: right;
  width: 85%;
}

#user-show-header h1 {
  font-size: 50px;
  margin-bottom: 0;
}

a#new-sweet-link {
  font-size: 18px;
  text-decoration: none;
}

/* sweets container */
#sweets-container {
  display: -webkit-inline-box;
  font-size: 18px;
  width: 90%;
  overflow-y: scroll;
}

ul.sweets {
  width: 100px;
  padding: 10px;
  background-image: -webkit-linear-gradient(top, #FFB500, #FF9503);
  background-image: -moz-linear-gradient(top, #FFB500, #FF9503);
  background-image: -ms-linear-gradient(top, #FFB500, #FF9503);
  background-image: -o-linear-gradient(top, #FFB500, #FF9503);
  background-image: linear-gradient(to bottom, #FFB500, #FF9503);
}

ul#sweets1 {
  width: 150px;
  margin-left: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

ul#sweets2 {
  border-radius: 0;
}

ul#sweets3 {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

li.sweets {
  margin: 0;
  list-style-type: none;
}

li.sweets img {
  height: 140px;
  width: 140px;
}

a#delete-sweet-link {
  font-size: 14px;
  font: italic;
  background-color: darkgrey;
  padding: 2px;
  border: 1px inset;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* recipes show (sweets index) */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
div#recipes {
  padding-bottom: 20px;
  margin: 0px 100px 0px 100px;
}

div#recipes h1 {
  font-size: 50px;
  text-shadow: -2px 2px 2px darkgrey;
}

ul#recipes {
  padding: 30px 0px 30px 0px;
  text-align: center;
  padding-left: 0px;
  display: inline;
}

li.recipes {
  border: 2px solid black;
  width: 14%;
  height: 180px;
  padding: 10px 10px 0px 10px;
  margin: 5px;
  list-style: none;
  display: inline-table;
}
