/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  font-family: 'Puritan', sans-serif;
  background-color: bisque;
}

.body-container {
  height: 500px;
}

/* navbar */
.navbar {
  background-color: firebrick;
  height: 100px;
  margin: 0;
}

.nav-left{
  float: left;
}

.nav-right {
  list-style: none;
  float: right;
}

footer {
  background-color: firebrick;
  height: 30px;
  margin: 0;
}

/* home page */
.home {
  text-align: center;
}

.home h1 {
  font-size: 80px;
}

.home p {
  font-size: 40px;
}

.home div {
  display: table;
  margin: 0;
  height: 60px;
  width: 100%;
  background-color: orange;
}

ul#ribbon {
  margin: 0;
  padding-left: 0;
  height: 60px;
  width: 100%;
}

li.ribbon {
  display: inline;
  height: 40px;
  width: 40px;
  background-color: black;
}
