<!DOCTYPE html>
<html>
<head>
  <title>BakedList</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Puritan:400,700italic" rel="stylesheet" type="text/css">
</head>
<body>
  <header class="navbar">
    <div class="nav-left">
      <a href="/about">
        <img src="http://www.endlessicons.com/wp-content/uploads/2012/09/cupcake-icon-614x460.png" height="100px" width="120px">
        <img/>
      </a>
    </div>
  </header>
  <div class="body-container">
    <%= yield %>
  </div>
  <footer>
    &copy;BakedList 2015
  </footer>
</body>
</html>
